body {
  width: 100%;
}

.hidden {
  display: none;
}

#inputArea {
  width: 85%;
  margin: 0 auto;
}

#songInput,
#artistInput,
#albumInput,
#addButton {
  display: block;
  margin: 8px auto;
}

header {
  width: 85%;
  background-color: #FFB4B0;
  margin: 0 auto;
}

header ul {
  padding-top: 5px;
  padding-bottom: 5px;
}

header li {
  display: inline-block;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

header li:last-child {
  border: none;
}

header a {
  text-decoration: none;
  border-right: 2px solid black;
  padding-right: 6px;
  font-weight: bolder;
}

header a:nth-child(2),
header a:nth-child(3) {
  padding-left: 6px;
}

header a:hover {
  color: black;
}

article {
  width: 85%;
  margin: 0 auto;
}

aside {
  width: 18%;
  height: 365px;
  background-color: #4DD7FA;
  float: left;
  margin-right: 2%;
}

section {
  width: 80%;
  height: 365px;
  background-color: #FEFAC0;
  float: left;
}

#sidebarContainer {
  width: 90%;
  margin: 0 auto;
}


#sidebarContainer > label[for="songLength"],
#sidebarContainer > label[for="artists"],
#sidebarContainer > label[for="albums"], 
#sidebarContainer > label[for="genre"] {
  display: block;
}

.songLength,
select[name="artists"],
select[name="albums"] {
  width: 100%;
}

#filterbutton {
  width: 40%;
  margin: 10px auto;
}


/* ================================== DISPLAY CHECKBOX GRID =================================================== */

input[type="checkbox"] {
  display: inline;
  margin: 3px;
}

label[for="rock"],
label[for="pop"],
label[for="classical"],
label[for="jazz"],
label[for="hip_hop"],
label[for="blues"] {
  display: block;
  padding-bottom: 5px;
}

#leftcheckset {
  width: 50%;
  float: left;
}


#rightcheckset {
  width: 50%;
  float: right;
}


/* ==================================== SIDEBAR ELEMENT SPACING ============================================= */

label[for="songLength"] {
  padding-top: 15px;
  padding-bottom: 8px;
}

label[for="artists"] {
  padding-top: 15px;
}

label[for="albums"] {
  padding-top: 15px;
}

label[for="genre"] {
  padding-top: 15px;
  padding-bottom: 10px;
}


/* ==================================== SECTION ELEMENT ============================================= */

section {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

section h1 {
  color: #785616;
  font-size: 1.3em;
}

.songlist {
  padding-left: 0;
}

.songlist li {
  display: inline-block;
  list-style: none;
  border-right: 2px solid black;
  padding-right: 17px;
}

.songlist li:last-child {
  border: none;
}

.songlist li:nth-child(2),
.songlist li:nth-child(3) {
  padding-left: 17px;
}

#songs {
  padding-left: 10%;
}